.preview {
    height: 100%;

    overflow: hidden;
    flex: 1;
}

.layout {
    height: 100%;
}

.stream {
    height: 100%;
}

.cameraName {
    font-family: "Medium";
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.noSignalImg {
    height: 100%;
    width: 100%;
}