@font-face {
    font-family: "Light";
    src:
        local("Helvetica Light"),
        url("@public/fonts/Ubuntu/Ubuntu-Light.ttf") format("opentype")
}

@font-face {
    font-family: "Regular";
    src:
        local("Helvetica Regular"),
        url("@public/fonts/Ubuntu/Ubuntu-Regular.ttf") format("opentype")
}

@font-face {
    font-family: "Medium";
    src:
        local("Helvetica Medium"),
        url("@public/fonts/Ubuntu/Ubuntu-Medium.ttf") format("opentype")
}

#root {
    font-family: "Regular";
}